<crudmain>
<div class="container-fluid">
  <div class="row">

      <div class="container">

        <div>
            <h2 class="text-primary"><i class="fa fa-cogs text-primary" style="font-size:36px;"></i> {{dados.tela}}</h2>
        </div>        

        <nav class="navbar navbar-expand-sm bg-light">
          <ul class="navbar-nav">
            {{#if active_new}}
            <li class="nav-item">
              <a class="nav-link" href="#" id="bt_new"><i style='font-size:24px; color:rgb(50, 50, 90)' class='fa fa-file'></i> Novo</a>
            </li>
            {{/if}}
            {{#if dados.active_report}}
            <li class="nav-item">
              <a class="nav-link" href="#" id="bt_report"><i style='font-size:24px; color:rgb(50, 50, 90)' class='fa fa-print'></i> Relatórios</a>
            </li>
            {{/if}}
            {{#if dados.active_options}}
            <li class="nav-item">
              <a class="nav-link" href="#" id="bt_options"><i style='font-size:24px; color:rgb(50, 50, 90)' class='fa fa-ellipsis-v'></i> Opções</a>
            </li>
            {{/if}}
          </ul>
        </nav>

        <div class="table-responsive table-sm"> 
          <table class="table table-hover">
            <thead>
              <tr>
                  {{#each dados.heads}}
                  <th>{{this}}</th>
                  {{/each}}
                  <th></th>
              </tr>
            </thead>
            <tbody>

              {{#each dados.dados}}
              <tr>
                {{#each this}}
                  <td>{{this.this}}</td>
                {{/each}}
                <td>
                    {{#if ../dados.active_detail}}
                    <button type="button" onclick="seek_id_modal({{this.id_bancos}})" class="btn btn-outline-warning" data-toggle="modal" data-target="#ModalCadastro">
                      <i style='font-size:16px; color:orange' class='fa fa-align-justify'></i> 
                    </button>
                    {{/if}}
                    {{#if ../dados.active_edit}} 
                    <button type="button"  onclick="myLog()" class="btn btn-outline-success">
                      <i style='font-size:16px; color:green'  class='fa fa-edit'></i>
                    </button> 
                    {{/if}}
                    {{#if ../dados.active_delete}} 
                    <button type="button" class="btn btn-outline-danger">
                      <i style='font-size:16px; color:red'    class='fa fa-trash'></i>
                    </button>  
                    {{/if}}
                </td>
              </tr>
              {{/each}}

            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>

{{#if dados.active_options}}
    {{>modalopcoes}}
{{/if}}

{{>modalcadastro}}

<script>
    var elemento;

    window.addEventListener('load', function() {
      elemento = ( JSON.parse( htmlDecode('{{json}}') ) );
      console.log('Elemento lido.');
    })

    function myLog() {
        console.log('myLog:');        
        elemento.filter(item => item.id_bancos === 100 ).forEach(item => console.log(item));
    }

    function seek_id_modal( id ) {
        elemento.filter(item => item.id_bancos === id ).forEach(item => {
        Object.entries(item).forEach(([key, value]) => {
        console.log(key + ' ' + value);
        var tag_id = document.getElementById(key);
        tag_id.value = value;
        });
      });
    }

</script>

</crudmain>
